#### List

In [3]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3] = 44
print(my_list)

[1, 2, 3, 44, 5]

In [7]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3, 200)
print(my_list)

[1, 2, 3, 200, 4, 5]

In [10]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [17]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5] 
my_list.extend([66, 87, 99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [19]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [21]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [22]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [26]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.remove(my_list[-1])
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [28]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [33]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse = True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

In [1]:
# 26. Create a list name myList that has three elements:
     # 1. The integer 3
     # 2. The String 'element number two'
     # 3. Another list ['last', 'element']

mylist = [3, 'element number two', ['last', 'element']]
print(mylist)

[3, 'element number two', ['last', 'element']]

In [2]:
# 2. Print the third element of the following list.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(l[2])

3

In [3]:
# 3. Modify the last element of this list so that its value is 16. Print the modified list so you know the operformed successfully.
listToModify = ['a', 'b', 'sixteen']
listToModify[-1] = 16
print(listToModify)

['a', 'b', 16]

In [4]:
# 4. Calculate the length of the following list. 
listToFindLength = ['this', 'is', 'the', 'list', 'whose', 'lenght', 'I', 'want']
len(listToFindLength)

8

In [5]:
# 5. Calcualte the sum of the following list. 
inList = [54, 678, 2890]
sum(inList)

3622

In [6]:
# 6. Find the maximum value of the following list. 
maxList = [677, 53245, 234, 236, 23456, 345, 23526, 3454]
max(maxList)

53245

In [7]:
# 7. Find the minimum value of the following list.
minList = [351, 984, 1697, 284, 134, 467, 164]
min(minList)

134

In [8]:
# 8. Append the string 'append me!' to the end of the following list. Print the list to ensure the operation has been completed successfully.
listToAppend = [1, 2, 3]
listToAppend.append('append me!')